In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [4]:
s = pd.Series([1,3,5,np.nan,6,8])

In [8]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range('20130101', periods=6)

In [11]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-01  1.726708 -0.093414  1.384247  2.289316
2013-01-02  0.970013  0.497982  0.139010  0.473652
2013-01-03 -1.517890 -0.170136  1.746181 -1.263035
2013-01-04 -2.339843  0.144897 -1.433110  0.311495
2013-01-05  0.625674 -2.049147  0.620318 -0.196517
2013-01-06 -1.860277 -1.116614 -1.554187 -0.310775