In [1]:
import pandas as pd
import datetime
import requests

In [2]:
key1 = 'ccf37a62d1959793ca4367453faf0979'

In [3]:
def crawl_data(start_date, end_date, keys =key1) :
    
    final_list = []
    url = 'http://www.kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json'

    
    for single_date in pd.date_range(start_date, end_date) :
        for multi, rep in zip(["N", "N", "N", "N"], ["", "", "", ""]) :            
            payload={
            'key' : keys,
            'targetDt' : single_date.strftime('%Y%m%d'),
            'itemPerPage' : '10',
            'multiMovieYn' : multi,
            'repNationCd' : rep,
            'wideAreaCd' : '0105004'
            }
            
            req = requests.get(url, params = payload)
            
            for item in req.json()['boxOfficeResult']['dailyBoxOfficeList'] :
                temp_list = []
                key_list = []
                for key, value in item.items() :
                    key_list.append(key)
                    temp_list.append(value)
                    
                temp_list.append(single_date)
                key_list.append('CurrentDate')
                
                temp_list.append(multi)
                key_list.append('multi')

                temp_list.append(rep)
                key_list.append('Nation')
                
                final_list.append(temp_list)

    return pd.DataFrame(final_list, columns=key_list)
    


movie = crawl_data("20181231", "20190101", keys=key1)

# movie.to_csv("movie1.txt",mode='w', encoding='utf-8', index=False)

In [4]:
movie.head()

,rnum,rank,rankInten,rankOldAndNew,movieCd,movieNm,openDt,salesAmt,salesShare,salesInten,...,salesAcc,audiCnt,audiInten,audiChange,audiAcc,scrnCnt,showCnt,CurrentDate,multi,Nation
0,1,1,0,OLD,20180290,아쿠아맨,2018-12-19,54096400,33.4,-23155350,...,763339100,6847,-1959,-22.2,92269,37,152,2018-12-31,N,
1,2,2,0,OLD,20170658,PMC: 더 벙커,2018-12-26,35249800,21.8,-22672350,...,250962650,4353,-2223,-33.8,31098,34,154,2018-12-31,N,
2,3,3,0,OLD,20186281,범블비,2018-12-25,21307150,13.2,-13995250,...,268293100,2731,-1445,-34.6,33070,26,108,2018-12-31,N,
3,4,4,0,OLD,20185485,보헤미안 랩소디,2018-10-31,18853150,11.6,-458150,...,1578455050,2306,129,5.9,190660,18,48,2018-12-31,N,
4,5,5,0,OLD,20175547,스윙키즈,2018-12-19,11872450,7.3,-3849150,...,274639650,1495,-361,-19.5,35546,22,59,2018-12-31,N,